.card {
  display: flex;
  justify-content: stretch;
  background-color: white;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
  padding-inline: var(--content-inline-padding);
  padding-block: var(--content-block-padding);
  border-radius: 15px;
}

.title {
  flex: 0 1 360px;
  border-inline-end: 1px solid var(--color-dark-gray);
}

.content {
  flex: 1 1 560px;
}
