.card {
  display: flex;
  justify-content: stretch;
  background-color: white;
  width: 100%;
  max-width: 1200px;
  gap: 40px;
  padding-inline: var(--content-inline-padding);
  padding-block: var(--content-block-padding);
  border-radius: 15px;
}

.title {
  flex: 0 1 360px;
  border-inline-end: 1px solid var(--color-dark-gray);
}

.content {
  flex: 1 1 560px;
}

@media (width <= 600px) {
  .card {
    flex-direction: column;
    justify-content: start;
    gap: 30px;
  }

  .title {
    border-inline-end: none;
    border-block-end: 1px solid var(--color-dark-gray);
    padding-block-end: 30px;
    flex: 0 0 auto;
  }

  .content {
    flex: 0 0 auto;
  }
}
