.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formError {
  border: 2px solid var(--color-red);
  border-radius: 15px;
  padding: 10px;
  color: var(--color-red);
  background-color: var(--color-light-red);
}

.formSuccess {
  border: 2px solid var(--color-success);
  border-radius: 15px;
  padding: 10px;
  color: var(--color-success);
  background-color: var(--color-success-bg);
}

@media (width <= 600px) {
  .backButton {
    width: 100%;
  }
}
